@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: Geologica;
  background-color: #DDC5A2;
}

/* Ready components */

.form-input {
  outline: none;
  border: 0;
  padding: 25px 4px 6px 10px;
  font-size: 18px;
  border-radius: 5px;
  font-family: Geologica;
}

.solid-btn {
  border: 0;
  background-color: #DDC5A2;
  border-radius: 5px;
  font-size: 18px;
  color: #523634;
  padding: 15px 25px;
  cursor: pointer;
  transition: all .3s ease-out;
} 

.solid-btn:hover {
  background-color: #523634;
  color: #DDC5A2
}

/* #301B28, #523634, #B6452C, #DDC5A2 */