main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.auth {
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid silver;
    width: 500px;
}

.auth-title h2 {
    text-align: center;
    font-weight: 600;
}

.auth input {
    width: 90%;
}

.register .password, .register button {
    margin-top: 20px;
}

.register form {
    padding: 0 30px;
    margin-top: 15px;
}

.or {
    position: relative;
    text-align: center;
    color: #787777;
    margin-top: 15px;
    padding: 0 30px;
}

.or::before, .or::after {
    content: "";
    position: absolute;
    background-color: silver;
    height: 1.5px;
    width: 50%;
    top: 45%;
}

.or::before {
    left: -4%;
}

.or::after {
    right: -4%;
}

.auth .login {
    margin-top: 15;
}

.login form {
    padding: 0 30px;
    margin-top: 15px;
}

.login .password, .login button {
    margin-top: 20px;
}